
header {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    color: white;
    height: 50px;
}

body {
    background-color: rgb(209, 209, 209);
    margin: 0;
    padding: 0;

}

h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section {
    width: 100%;
    max-width: 850px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.nome {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    font-size: 21px;
}

.nome label {
    margin-top: 10px;
}

.nome input,
.nome textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Pesquisa {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.radio-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.radio-button label {
    margin-left: 10px;
}

.campo_visita_nao {
    margin-left: 50px;
}

.button {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.enviar,
.limpar {
    height: 40px;
    width: 100px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #4b4848;
    color: white;
    cursor: pointer;
}

.enviar:hover,
.limpar:hover {
    background-color: #5c3232;
}

/* Responsividade */
@media (max-width: 1366px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 24px;
    }

    .nome input,
    .nome textarea,
    .radio-button label,
    .enviar,
    .limpar {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .nome input,
    .nome textarea,
    .radio-button label,
    .enviar,
    .limpar {
        font-size: 12px;
    }

    .radio-button {
        flex-direction: column;
        align-items: flex-start;
    }

    .nao {
        margin-left: 0;
        margin-top: 10px;
    }

    .button {
        flex-direction: column;
    }

    .enviar,
    .limpar {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 470px) {
    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 18px;
    }

    .nome input,
    .nome textarea,
    .radio-button label,
    .enviar,
    .limpar {
        font-size: 10px;
    }
}